.display-right{
  position: absolute;
  top : 90px;
  left :10px;
}

.display-left{
  position:  absolute;
  bottom : 10px;
  right :10px;
}

.winter{
  background-color: blue;
}
.winter i {
  color: white;
}

.summer{
  background-color: yellow;
}
.summer{
  color:red;
}
.text{
  height:100vh;
  text-align: center;
  align-items:center;
  justify-content: center;
  display: flex;
}
